<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "1.css" >
    <title>Каталог товаров </title>
</head>
<body>
    <ul class="header-footer" >
        <a class="menu-item" href="/">
            <style>
                h1 { font-size: 30px; }
            </style>
            <h1>Главная</h1>
        </a>

        <a class="menu-item" href="/review.html">
            <li>О нас</li>
        </a>
    </ul>
    <p><a href="mouse.html"><b><i>Игровая мышь Basilisk</i></b></a></p>
    <p><a href="keyboard.html"><b><i>Игровая клавиатура Logitech G915</i></b></a></p>
</body>
</html>